<%- include('partials/header') %> 


<div class="ui main text container segment">
    <div class="ui huge header"><%= foundBlog.title %></div>
    <div class="ui top attached ">
        <div class="item">
            <img class="ui centered rounded image" src="<%= foundBlog.image %>" alt="">
            <div class="content">
                <span><%= foundBlog.created.toDateString(); %></span>
                
            </div>
            <div class="description">
                <p ><%= foundBlog.body %></p>
            </div>

        </div>
        
    </div>
    <form id="showform" action="/blogs/<%= foundBlog._id %>?_method=DELETE"  method="post">
        <button type="submit" class="ui red basic button">delete</button>
    </form>
    <a class="ui violet basic button" href="/blogs/<%= foundBlog._id %>/edit">Edit</a>
    
    
    

    </div>


    <%- include('partials/footer') %> 